<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>366606838745-13s9lci4l3ajmcg8e0id0eouq83lcjgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366606838745-13s9lci4l3ajmcg8e0id0eouq83lcjgc</string>
	<key>API_KEY</key>
	<string>AIzaSyDlptuMQNxvti7xM6GcMki1DHkkCl6VJAY</string>
	<key>GCM_SENDER_ID</key>
	<string>366606838745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.applia.eagleconnect</string>
	<key>PROJECT_ID</key>
	<string>eagle-connect-82207</string>
	<key>STORAGE_BUCKET</key>
	<string>eagle-connect-82207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:366606838745:ios:c99d355095982a2a</string>
	<key>DATABASE_URL</key>
	<string>https://eagle-connect-82207.firebaseio.com</string>
</dict>
</plist>